* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
}

.twocolumn {
  float: left;
  width: 50%;
}

body {
  font-family: "Tahoma", sans-serif;
  margin: 10;
}

.header {
  padding: 40px;
  text-align: left;
  background: #fff;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  padding-top: -100px;
  padding-left: 50px;
  padding-right: 50px;
}

.top {
  -ms-flex: 100%;
  flex: 100%;
  text-align: center;
  background-color: #fff;
}

.side {
  -ms-flex: 50%;
  flex: 50%;
  text-align: center;
  background-color: #fff;
}

.main {
  -ms-flex: 50%;
  flex: 50%;
  background-color: white;
  padding: 30px;
}

@media screen and (max-width: 400px) {
  .row {
    flex-direction: column;
  }
}

.vspace {
  margin-bottom: 3cm;
}

.demo {
  opacity: 0.9;
}

.active,
.demo:hover {
  opacity: 1;
}
