* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Five columns side by side */
.column {
  float: left;
  width: 20%;
}

/* Two columns side by side */
.twocolumn {
  float: left;
  width: 50%;
}

/* Style the body */
body {
  font-family: "Tahoma", sans-serif;
  margin: 10;
}

/* Header/logo Title */
.header {
  padding: 40px;
  text-align: left;
  background: #fff;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  text-align: center;
  padding-top: -100px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Column container */
.top {
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  text-align: center;
  background-color: #fff;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  text-align: center;
  background-color: #fff;
}

/* Main column */
.main {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: white;
  padding: 30px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .row {
    flex-direction: column;
  }
}

.vspace {
  margin-bottom: 3cm;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.9;
  /* filter: brightness(80%); */
}

.active,
.demo:hover {
  opacity: 1;
  /* filter: brightness(100%); */
}
